@import "tailwindcss";



:root {
--brand-500: #b8860b; /* gold-ish */
--muted: #6b7280;
}


html, body, #__next {
height: 100%;
}


body {
font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
background: #fff;
}

.menu-link {
  /* color: #832729; */
   color: #580F09;
  transition: color 0.3s;
}

.menu-link:hover {
  color: #e0a96d; /* soft rose gold hover */
}
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  height: 100%;
}
/* Hide scrollbar (Chrome, Safari, Edge) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
.scrollbar-hide {
  scrollbar-width: none;
}
